/* src/styles/Footer.css */

.footer-container {
  border-top: 1px solid #ddd;
  background-color: #f1f1f1;
  font-size: 14px;
  color: #666;
  padding: 15px 10px;
  text-align: center;
}

.footer-copyright {
  margin-bottom: 5px;
}

.footer-nav {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-link {
  text-decoration: none;
  color: #2b6cb0;
  cursor: pointer;
  transition: color 0.2s;
}

.footer-link:hover {
  text-decoration: underline;
  color: #1a4971; /* 조금 더 진한 색으로 변경 */
}